<div class="layout-page">
  <div class="layout-shell">
    <div
      class="component-mount mount-left"
      data-component="../ui/leftSideBar.html"
    ></div>
    <div
      class="component-mount mount-main"
      data-component="../ui/mainContent.html"
    ></div>
    <div
      class="component-mount mount-right"
      data-component="../ui/rightSideBar.html"
    ></div>
  </div>

  <div
    class="component-mount mount-bottom"
    data-component="../ui/bottomSideBar.html"
  ></div>
</div>