<aside id="left-side-bar" class="left-sidebar">
  <nav id="left-sidebar-menu-list" class="menu-list">
    <h2 class="brand-name">Tasty Station</h2>
    <div id="home-btn" class="menu-item active" data-route="home"><i class="fa-solid fa-house"></i><p>Home</p></div>
    <div id="food-btn" class="menu-item" data-route="food"><i class="fa-solid fa-utensils"></i><p>Food</p></div>
    <div id="restaurant-btn" class="menu-item" data-route="restaurant"><i class="fa-solid fa-utensil-spoon"></i><p>Restaurant</p></div>
    <div id="history-btn" class="menu-item" data-route="history"><i class="fa-solid fa-clock"></i><p>History</p></div>
    <div id="settings-btn" class="menu-item" data-route="settings"><i class="fa-solid fa-gear"></i><p>Settings</p></div>
  </nav>
  <div id="sidebar-footer" class="sidebar-footer">
    <div>Help Center</div>
    <div onclick="window.location.href='src/pages/auth/login.html'">Logout</div>
  </div>
</aside>
