<aside id="left-side-bar" class="left-sidebar">
  <nav id="left-sidebar-menu-list" class="menu-list">
    <h2 class="brand-name">Tasty Station</h2>
    <div id="home-btn" class="menu-item active" data-route="home">Home</div>
    <div id="food-btn" class="menu-item" data-route="food">Food</div>
    <div id="restaurant-btn" class="menu-item" data-route="restaurant">Restaurant</div>
    <div id="history-btn" class="menu-item" data-route="history">History</div>
    <div id="settings-btn" class="menu-item" data-route="settings">Settings</div>
  </nav>
  <div id="sidebar-footer" class="sidebar-footer">
    <div>Settings</div>
    <div>Help Center</div>
    <div>Logout</div>
  </div>
</aside>
