<main id="main-content" class="main-content">
  <div class="top-bar">
    <input
      id="search-input"
      class="search-input"
      type="text"
      placeholder="Search menu, orders and more"
    />
    <div id="admin-wrap" class="admin-wrap">
      <!-- <div class="avatar"></div>
      <div>
        <p class="admin-name">Admin</p>
      </div> -->
      <div class="login-register" id="login-register">
        <!-- <button
          onclick="window.location.href = 'src/pages/auth/login.html'"
          class="login-btn"
        >
          Login
        </button>
        <button
          onclick="window.location.href = 'src/pages/auth/register.html'"
          class="register-btn"
        >
          Register
        </button> -->
        <!-- <div class="notification-bell">
          <i class="fas fa-bell"></i>
        </div>
        <div class="auth-profile">
          <img src="https://img.freepik.com/free-photo/young-beautiful-girl-posing-black-leather-jacket-park_1153-8104.jpg?semt=ais_hybrid&w=740&q=80" alt="auth-profile" />
        </div> -->
      </div>
    </div>
  </div>

  <div id="content-area" class="content-area"></div>
</main>
