<main id="main-content" class="main-content">
  <div class="top-bar">
    <input
      class="search-input"
      type="text"
      placeholder="Search menu, orders and more"
    />
    <div id="admin-wrap" class="admin-wrap">
      <!-- <div class="avatar"></div>
      <div>
        <p class="admin-name">Admin</p>
      </div> -->
      <div class="login-register">
        <button
          onclick="window.location.href = 'src/pages/auth/login.html'"
          class="login-btn"
        >
          Login
        </button>
        <button
          onclick="window.location.href = 'src/pages/auth/register.html'"
          class="register-btn"
        >
          Register
        </button>
      </div>
    </div>
  </div>

  <div id="content-area" class="content-area"></div>
</main>
